<form>
    <br />
    <tr>
        <td>@Model.Id</td>
        <td>@Model.Emetteur</td>
        <td>@Model.Contenu</td>
        <td>@Model.Date</td>

    
        <td>
            <button asp-action="UpdateMessage" asp-route-Id="@Model.Id">Update</button>
        
        <button asp-action="DeleteMessage" asp-route-Id="@Model.Id">Delete</button>
        </td>
    </tr>
</form>